body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 229, 229);
}

.calculator {
    margin-top: 3%;
    background-color: rgb(65, 64, 64);
    width: 35%;
    border-radius: 15px;
    overflow: hidden;
}

#result {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    background-color: rgb(153, 149, 149);
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: gray;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

button:hover {
    background-color: rgb(168, 165, 165);
}

.equalTo {
    background-color: orangered;
}

.operator {
    background-color: orange;
}

.operator:hover {
    background-color: rgb(245, 180, 60);
}

@media (max-width: 719px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calculator {
        margin-top: 70px;
        width: 260px;
        height: 350px;
        border-radius: 15px;
        overflow: hidden;
    }


    button {
        height: 50px;
        width: 50px;
        font-size: 1rem;
    }

    .keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2px;
        padding: 2.5px;

    }

    #result {
        padding: 15px;
        font-size: 2.5rem;
    }
}

@media (min-width:720px) and (max-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calculator {
        margin-top: 250px;
        width: 680px;
        height: 850px;
        border-radius: 15px;
        overflow: hidden;
    }


    button {
        height: 130px;
        width: 130px;
        border-radius: 70px;
        font-size: 4rem;
    }

    .keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 17px;

    }

    #result {
        padding: 22px;
        font-size: 5rem;
    }
}